.jumbotron {
  background-color: #f87b63 !important;
  margin-top: 50px;
  margin-bottom: 0px;
  color: #1a1919; }

footer {
  padding: 10PX 10PX 0 10PX;
  background-color: #f87b63;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-deck {
  color: #1a1919; }
  .card-deck .card-body {
    background-color: #f5f260; }

.card-header .card-body {
  background-color: #f5b9a9; }

.row .collapse {
  background-color: #5d62f1; }
  .row .collapse h3 {
    color: #f5b9a9; }
