.jumbotron {
  background-color: #ca5b45;
  margin-top: 50px;
  margin-bottom: 0px;
  color: #5d62f1;
}
footer {
  padding: 10PX 10PX 0 10PX;
  background-color: #ca5b45;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-deck {
  color: #1c1c1b;
}
.card-deck .card-body {
  background-color: #f5f260;
}
#card .card-body {
  background-color: #f5b9a9;
}
.collapse {
  background-color: #5d62f1;
}
.collapse h3 {
  color: #f5b9a9;
}
