$red:#f38571;
$yellon:#f5f260;
$green:#5d62f1;
$color: #1a1919;
$rosa:#f5b9a9;

@mixin margenes($top: 0px, $bottom: 0px){
    margin-top: $top ;
    margin-bottom: $bottom;
}


.jumbotron {
    background-color:$red !important;
    @include margenes(50px, 0px);
    color: $color; 
}

footer {
    padding: 10PX 10PX 0 10PX;
    background-color: $red;
    @include margenes(10px, 0px); 
}

.card-deck{
    color: $color;
        .card-body{
        background-color: $yellon;
    }
}

.card-header .card-body{
    background-color: $rosa;
}

.row .collapse{
    background-color: $green;
    h3{
        color: $rosa;
    }
}




