@red:#ca5b45;
@yellon:#f5f260;
@green:#5d62f1;
@color: #1c1c1b;
@rosa:#f5b9a9;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}



.jumbotron {
    background-color:@red;
    .margenes(50px, 0px);
    color: @green; 
}

footer {
    padding: 10PX 10PX 0 10PX;
    background-color: @red;
    .margenes(10px, 0px); 
}

.card-deck{
    color: @color;
        .card-body{
        background-color: @yellon;
    }
}

#card .card-body{
    background-color: @rosa;
}

.collapse{
    background-color: @green;
    h3{
        color: @rosa;
    }
}

